FORMAT: 1A
HOST: http://apiplatformcloudse-gseapicsbuleprinta-bkm6zgks.srv.ravcloud.com:8001/ChequeInfo

# CHEQUE - GET INFO
These APIs uses the voice of an individual for alternate authentication in banking applications.


## GET CHEQUE DETAILS - Single Record [/{TEAM_ID}/{CHQ_NUM}]
This API takes Team ID and Cheque No. as inputs and will check if any cheque record 
is stored in the database. If any record exists in database then it will respond with 
the link of the cheque file. If no record exists then it generates appropriate error. 

+ Parameters
    + TEAM_ID (required, number, `1000`)
    + CHQ_NUM (required, number, `123456`)

### Get Cheque Details - Single Record [GET]

+ Request (application/json)
    + Headers

            api-key: ''
            
+ Response 200 (application/json)

        {
            "items": [],
            "hasMore": false,
            "limit": 25,
            "offset": 0,
            "count": 0,
            "links": [
                {
                    "href": "record link"
                },
                {
                    "href": "record link"
                },
                {
                    "href": "record link"
                }
            ]
        }


## GET CHEQUE IMAGE [/{TEAM_ID}/{CHQ_NUM}/SIGNATURE_IMAGE]
This API takes Team ID, Cheque No. and the  name 'SIGNATURE_IMAGE' as inputs and will check if any cheque record
is stored in database against the given cheque number. If any record exists in database then it will send 
the file. If no record exists then it generates appropriate error.

+ Parameters
    + TEAM_ID (required, number, `1000`)
    + CHQ_NUM (required, number, `123456`)


### Get Cheque Image [GET]
+ Request (application/json)
    + Headers

            api-key: ''

+ Response 200 (application/json)



## GET CHEQUE DETAILS - All Records [/{TEAM_ID}]
This API takes Team ID as input and will return all the cheque records registered by
the particular team as urls. If no record exists then it generates appropriate error.

+ Parameters
    + TEAM_ID (required, number, `1000`)

### Get Cheque Details - All Records [GET]
+ Request (application/json)
    + Headers

            api-key: ''

+ Response 200 (application/json)